Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [199]:
#Lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [9]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")

In [10]:
url="https://www.naukri.com/"

In [11]:
driver.get(url)

In [12]:
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("data analyst")

In [13]:
driver.find_element_by_xpath('//input[@name="location"]').send_keys("Bangalore")

In [17]:
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [18]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [19]:
#Lets extrct all the tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="39d2c2a4-69a1-4d79-90c0-6b507136c73b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="bac3bb5b-008e-484b-bdc0-9a62902c649c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="acc27613-7413-40b3-9309-fe6df25adefc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="c418c40c-239b-4639-afb5-b3986cd1070c")>]

In [20]:
#Now the text of the job title is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in titles_tags[0:10]:
    
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Immediate opening For Data Scientist/Data Analyst',
 'Hiring Data Analysts',
 'Data Analyst',
 'Data Analyst']

In [22]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="ceeed4a7-0aff-41ab-b50c-bf17771de68f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="0dc63fdb-d18d-4bc7-863a-c3c147b04a25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="43166f58-a87b-4bca-aa70-30716363b8d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="d92557b4-a15d-4d25-be74-c3e5fe927b04")>]

In [23]:
for i in companies_tags[0:10]:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Flipkart Internet Private Limited',
 'Cognizant Technology Solutions India Ltd',
 'Cognizant Technology Solutions India Ltd']

In [24]:
#so lets extractv the a;; the tags having the experiences required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="866936e2-865c-42f8-aec1-87d91dbab0e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="1686faeb-43d5-46a3-aafe-0c3c7691ac59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="7edada06-a2e4-48cd-b6fa-daad4c3ff90a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e2cbb2baa244d143f3ba60d3bac7", element="ef3ed6cc-fd90-4b16-9c74-9a7aae63b2f8")>]

In [25]:
for i in experience_tags[0:10]:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['0-3 Yrs', '2-5 Yrs', '3-6 Yrs', '2-3 Yrs']

In [26]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru', 'Bengaluru']

In [27]:
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

10 10 10 10

In [28]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience']=experience_list
jobs['location']=location_list

In [29]:
jobs

,title,company,experience,location
0,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
1,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
2,Data Analyst,Cognizant Technology Solutions India Ltd,3-6 Yrs,Bengaluru
3,Data Analyst,Cognizant Technology Solutions India Ltd,2-3 Yrs,Bengaluru
4,Data Analyst ( Predictive Modelling),AVE-Promagne,2-5 Yrs,Bengaluru
5,Data Scientist / Data Analyst,Altimetrik India Pvt. Ltd,3-8 Yrs,Bengaluru
6,Data Analyst,Thinkbumblebee Analytics Pvt Ltd,3-6 Yrs,"Pune, Delhi, Mumbai, Bengaluru, Hyderabad"
7,NiFi Data Analyst,Capgemini Technology Services India Limited,4-6 Yrs,Bengaluru
8,NiFi Data Analyst,Capgemini Technology Services India Limited,6-9 Yrs,Bengaluru
9,Product Manager - Data Scientist / Data Analyst,Fortune HR Consultant,2-7 Yrs,Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done
manually.

In [228]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")

In [229]:
url="https://www.naukri.com/"

In [230]:
driver.get(url)

In [231]:
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Scientist")

In [232]:
driver.find_element_by_xpath('//input[@name="location"]').send_keys("Bangalore")

In [233]:
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [236]:
job_titles=[]
company_names=[]
location_list=[]
jobdescription_list=[]

In [237]:
#Lets extrct all the tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags[0:10]:
    
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Immediate opening For Data Scientist/Data Analyst',
 'Data Scientist - Python/MATLAB/Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist / Data Analyst']

In [238]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tags[0:10]:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'Altimetrik India Pvt. Ltd']

In [239]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru', 'Bengaluru']

In [240]:
jobdescription_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
for i in jobdescription_tags[0:10]:
    jobdesc=i.text
    jobdescription_list.append(jobdesc)
jobdescription_list[0:4]

['In case you are trying to shift your career to Analytics and / or AI domain please do c...',
 'BS / MS/PhD in Computer Science, Statistics, Applied Math, or related areas from Premie...',
 'BS / MS/PhD in Computer Science, Statistics, Applied Math, or related areas from Premie...',
 'data analytics, or business intelligence experience Experience with conducting Experien...']

In [241]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['job description']=jobdescription_list

In [242]:
jobs

,title,company,location,job description
0,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",In case you are trying to shift your career to...
1,Data Scientist - Python/MATLAB/Machine Learnin...,Wrackle Technologies Pvt Ltd,Bengaluru,"BS / MS/PhD in Computer Science, Statistics, A..."
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,"BS / MS/PhD in Computer Science, Statistics, A..."
3,Data Scientist / Data Analyst,Altimetrik India Pvt. Ltd,Bengaluru,"data analytics, or business intelligence exper..."
4,Explore job openings on Data Scientist!!,Bristlecone India Limited,"Pune, Mumbai, Bengaluru",Hands-on python programming with experience de...
5,Senior Principal Software Engineer - IT ( Data...,Dell International Services IndiaPrivate Limited,Bengaluru,"Proficiency in Python or R, Tableu especially ..."
6,Senior Data Scientist,Philips Lighting,Bengaluru,"PhD / Masters / BTech in computer science, com..."
7,Machine Learning Lead / Data Scientist,Morgan Stanley Advantage Services,Bengaluru,The Technology & Operations Risk (TOR) organiz...
8,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,"medical voice of customer feedback, customer l..."
9,Advanced Architect - Data Scientist,Mphasis Limited,Bengaluru,Experience working with enterprise architectur...

In [243]:
url=[]

In [344]:
prod=driver.find_elements_by_xpath("//*[@id="root"]/main/div[2]/div[2]/section[2]/div[1]]")

SyntaxError: invalid syntax (<ipython-input-344-0d59c71bc3b1>, line 1)

In [257]:
prod[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="94339aea2b9b908b88cdf930eac80b51", element="5e4afd35-4095-4f73-b92c-962d8c168750")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94339aea2b9b908b88cdf930eac80b51", element="c09cce16-36e0-440e-b74f-8fbd7af3577d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94339aea2b9b908b88cdf930eac80b51", element="0c9b9122-411c-400d-910e-0a5f6433ab27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94339aea2b9b908b88cdf930eac80b51", element="01a2cc62-aa7b-4a45-8909-42372b9fbbe3")>]

In [262]:
for i in prod:
    url.append(i.click())

In [263]:
driver.find_elements_by_xpath("//div[@class='dang-inner-html']")

WebDriverException: Message: chrome not reachable
  (Session info: chrome=87.0.4280.88)

In [81]:
for x in driver.find_elements_by_link_text("////article[@class='jobTuple bgWhite br4 mb-8']"):
    link = webdriver.ActionChains(self.driver).move_to_element(x).click(x).perform()

In [82]:
driver.find_elements_by_class_name("//div[@class='info fleft']").click()

AttributeError: 'list' object has no attribute 'click'

In [104]:
all_links = [link.get('href') for link in driver.find_elements_by_link_text("//div[@class='info fleft']")]

In [105]:
all_links

[]

In [107]:
driver.find_elements_by_xpath("//div[@class='info fleft']")]

SyntaxError: invalid syntax (<ipython-input-107-8ea251a1f6e8>, line 1)

In [264]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.naukri.com/job-listings-immediate-opening-for-data-scientist-data-analyst-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16071067421982833_12&xp=1&px=1"
driver.get(url)

In [266]:
texto=[]

In [271]:
texto1=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")

In [276]:
texto=texto1.text

AttributeError: 'list' object has no attribute 'text'

In [277]:
job_titles8=[]

In [278]:
titles_tags8=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
for i in titles_tags8[0:10]:
    
    title8=i.text

WebDriverException: Message: chrome not reachable
  (Session info: chrome=87.0.4280.88)

Q3.You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [393]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Scientist")
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [92]:
driver.find_element_by_xpath('//i[@class="fleft naukicon naukicon-checkbox"]').click()

In [394]:
driver.find_element_by_xpath("//span[@title='Delhi/NCR']").click()

In [395]:
driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

In [396]:
job_titles=[]
company_names=[]
location_list=[]
jobdescription_list=[]

In [397]:
#Lets extrct all the tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags[0:10]:
    
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Tech Mahindra Hiring For Data Scientist- Hyderabad/ Noida',
 'Data Scientist - Python/Machine Learning',
 'Data Scientist',
 'Excellent opportunity For Lead Data Scientist at Noida location']

In [398]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tags[0:10]:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['tech mahindra ltd',
 'Jubna',
 'IBM India Pvt. Limited',
 'NEC CORPORATION INDIA PRIVATE LTD']

In [399]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Hyderabad, Noida',
 'Noida',
 'Gurgaon Gurugram',
 'Delhi NCR(Sector-142 Noida), Noida']

In [400]:
jobdescription_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
for i in jobdescription_tags[0:10]:
    jobdesc=i.text
    jobdescription_list.append(jobdesc)
jobdescription_list[0:4]

['BE / BTech from Tier 1 colleges (IIT / ISI/NIT / BITS/BIT / IIIT/REC) in Computer Scien...',
 'Proficient in Python ML libraries, Hadoop/ Redshift/ BigQueryMasters preferred Can envi...',
 'Should have hired and nurtured talent and grow them in market facing specialists and co...',
 'Position Experience Location Must Have Skills Good to Have Role Type']

In [401]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['job description']=jobdescription_list

In [402]:
jobs

,title,company,location,job description
0,Tech Mahindra Hiring For Data Scientist- Hyder...,tech mahindra ltd,"Hyderabad, Noida",BE / BTech from Tier 1 colleges (IIT / ISI/NIT...
1,Data Scientist - Python/Machine Learning,Jubna,Noida,"Proficient in Python ML libraries, Hadoop/ Red..."
2,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,Should have hired and nurtured talent and grow...
3,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",Position Experience Location Must Have Skills ...
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",Only Fresher Can Apply:.Description Good in an...
5,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Greater Noida, Noida",Only Fresher Can Apply:.Description Good in an...
6,Data Scientist,Air Asia India Limited,"Delhi NCR, Gurgaon",2 years of extensive experience in data scienc...
7,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",Must Have Skills :ML / DL/BigData / DS and Pyt...
8,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",Must Have Skills :ML / DL/BigData / DS and Pyt...
9,Data Scientist,Stark Industries,Delhi,"As a Data Science Associate Manager at PayPal,..."

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [293]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [294]:
driver.find_element_by_xpath("//a[@class='track-click gd-btn-locked-transparent susiLink sign-in strong nowrap']").click()

In [300]:
driver.find_element_by_xpath("//button[@class='google gd-btn short']").click()

In [ ]:
driver.find_element_by_name('//input[@name="identifier"]').send_keys('7978754587bhabani@gmail.com')

In [ ]:
driver.find_element_by_name('//div[@]').send_keys('7978754587bhabani@gmail.com')

In [ ]:
driver.find_element_by_xpath('//input[@id="sc.keyword"]').send_keys('Data Scientist')

In [203]:
driver.find_element_by_xpath('//input[@id="sc.location"]').send_keys('Noida')

In [204]:
driver.find_element_by_xpath('//button[@data-test="search-bar-submit"]').click()

In [290]:
job_titles1=[]
company_names1=[]
location_list1=[]
jobdescription_list1=[]

In [206]:
#Lets extrct all the tags having job titles
titles_tags1=driver.find_elements_by_xpath("//a[class=' css-10l5u4p e1n63ojh0 jobLink']")
for i in titles_tags1[0:10]:
    
    title1=i.text
    job_titles1.append(title)
job_titles1[0:4]

[]

In [210]:
titles_tags1=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']")
titles_tags1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d30e417289fb7d89440ca471d5b344a9", element="4ef7c616-fe33-473d-b04b-899a7448531f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d30e417289fb7d89440ca471d5b344a9", element="6352378c-b090-4888-808c-02bf7a6f8ef6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d30e417289fb7d89440ca471d5b344a9", element="b6f6c146-ad0e-4178-9f8b-cc10c394a0d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d30e417289fb7d89440ca471d5b344a9", element="8983b403-5083-4d3f-aa0c-e189718aaedc")>]

In [211]:
for i in titles_tags1[0:10]:
    
    title1=i.text
    job_titles1.append(title)
job_titles1[0:4]

['Advanced Architect - Data Scientist',
 'Advanced Architect - Data Scientist',
 'Advanced Architect - Data Scientist',
 'Advanced Architect - Data Scientist']

In [ ]:
companies_tags1=driver.find_elements_by_xpath("//a[@class='jobInfoItem jobTitle css-13w0lq6 eigr9kq1 jobLink']")
for i in companies_tags1[0:10]:
    company_name1=i.text
    company_names1.append(company_name1)
company_names1[0:4]

In [ ]:
locations_tags=driver.find_elements_by_xpath("//span[@class='loc css-nq3w9f pr-xxsm']/span[1]")
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list[0:4]

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [685]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.flipkart.com/"
driver.get(url)

In [686]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [687]:
driver.find_element_by_xpath('//input[@name="q"]').send_keys('sunglasses')

In [688]:
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [321]:
urls=[]

In [ ]:
for prod in prod_urls:
    urls.append('https://www.flipkart.com'+prod.get('href'))

In [345]:
driver.find_element_by_xpath('//div[@class="_2WkVRV"]')

In [ ]:
#cant find all the urls
#there was another method using clicks but that i.e creates a new tab i dont.

In [689]:
Brand=[]
ProductDescription=[]
Price=[]
Discount=[]

In [523]:
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brandtitle=i.text
    Brand.append(brandtitle)
Brand[0:4]

['Spexra', 'Eyewearlabs', 'Phenomenal', 'shah collections']

In [530]:
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    prodesc=i.text
    ProductDescription.append(prodesc)
print(len(ProductDescription))

90

In [525]:
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    pric=i.text
    Price.append(pric)
Price[0:4]

['₹206', '₹1,599', '₹399', '₹331']

In [526]:
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    disc=i.text
    Discount.append(disc)
Discount[0:4]

['84% off', '36% off', '80% off', '80% off']

In [420]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()       #//a[@class=''],class="ge-49M"

In [418]:
g=0

In [690]:
#or g in range(0,3):
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brandtitle=i.text
        Brand.append(brandtitle)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']"):
        prodesc=i.text
        ProductDescription.append(prodesc)
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        pric=i.text
        Price.append(pric)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        disc=i.text
        Discount.append(disc)

In [691]:
 driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]").click() 
    #//a[@class=''],class="ge-49M"
 #drawback=this work only till page 2 then again comes to page 1
 #So here i couldn't find the Next button so i couldn't forn a loop

In [693]:
import pandas as pd
glass=pd.DataFrame({})
glass['brand name']=Brand
glass['product description']=ProductDescription
glass['pricep']=Price
glass['discountp']=Discount

In [694]:
glass

,brand name,product description,pricep,discountp
0,Royal Son,UV Protection Retro Square Sunglasses (49),₹664,66% off
1,Specsmakers,Polarized Aviator Sunglasses (57),₹636,60% off
2,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
3,shah collections,UV Protection Round Sunglasses (Free Size),₹331,80% off
4,FDA COLLECTION,"Gradient, Mirrored, UV Protection, Polarized R...",₹161,83% off
5,Trendy Glasses,UV Protection Retro Square Sunglasses (Free Size),₹236,81% off
6,Phenomenal,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
7,Specsmakers,Polarized Aviator Sunglasses (58),₹696,65% off
8,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹204,84% off
9,funglasses,"UV Protection, Night Vision, Riding Glasses Ro...",₹152,84% off
10,Riffko,UV Protection Wayfarer Sunglasses (55),₹189,84% off
11,Specsmakers,Mirrored Oval Sunglasses (50),₹470,52% off
12,Dannilo,"Gradient, UV Protection, Others Aviator Sungla...",₹198,83% off
13,like future,Mirrored Aviator Sunglasses (Free Size),₹181,83% off
14,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹657,17% off
15,Royal Son,Mirrored Aviator Sunglasses (55),₹379,74% off
16,Phenomenal,"Polarized, UV Protection, Gradient Rectangular...",₹299,85% off
17,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
18,Rozzetta Craft,UV Protection Rectangular Sunglasses (Free Size),₹398,73% off
19,Specsmakers,Polarized Sports Sunglasses (70),₹696,65% off
20,Trendy Glasses,"UV Protection, Night Vision Retro Square Sungl...",₹247,87% off
21,JOHAENA,"Riding Glasses, UV Protection Oval Sunglasses ...",₹160,87% off
22,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
23,Specsmakers,UV Protection Aviator Sunglasses (49),₹636,60% off
24,PIRASO,UV Protection Aviator Sunglasses (54),₹206,87% off
25,peter india,UV Protection Spectacle Sunglasses (Free Size),₹165,87% off
26,povty,UV Protection Wayfarer Sunglasses (Free Size),₹262,73% off
27,Specsmakers,Polarized Aviator Sunglasses (54),₹696,65% off
28,Singco India,"UV Protection, Polarized Aviator Sunglasses (F...",₹189,72% off
29,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹732,18% off
30,PIRASO,UV Protection Aviator Sunglasses (58),₹349,86% off
31,Aislin,"UV Protection, Gradient Butterfly, Over-sized ...",₹568,73% off
32,HIPPON,UV Protection Wayfarer Sunglasses (55),₹172,85% off
33,JUST STYLE,Polarized Round Sunglasses (15),₹115,80% off
34,Deixels,UV Protection Wayfarer Sunglasses (Free Size),₹199,88% off
35,Royal Son,UV Protection Aviator Sunglasses (60),₹711,64% off
36,dannilo,Others Round Sunglasses (Free Size),₹179,82% off
37,funglasses,"UV Protection, Polarized Rectangular, Rectangu...",₹261,82% off
38,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
39,Specsmakers,Polarized Wayfarer Sunglasses (53),₹696,65% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [531]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
driver.get(url)

In [532]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [533]:
Rating=[]
Review_summary=[]
Fullreview=[]

In [534]:
driver.find_elements_by_xpath("//div[@class='_3UAT2v _16PBlm']")

[]

In [540]:
for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        rev=i.text
        Review_summary.append(rev)

In [536]:
Review_summary

['Perfect product!',
 'Great product',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Worth every penny',
 'Worth every penny',
 'Perfect product!',
 'Nice product',
 'Wonderful']

In [541]:
for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rat=i.text
        Rating.append(rat)
Rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5']

In [542]:
for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        fullrev=i.text
        Fullreview.append(fullrev)
Fullreview

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE']

In [545]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()      
 #drawback=this work only till page 2 then again comes to page 1
 #So here i couldn't find the Next button so i couldn't forn a loop

In [543]:
import pandas as pd
reviews=pd.DataFrame({})
reviews['Rate']=Rating
reviews['review summmary']=Review_summary
reviews['full review']=Fullreview

In [544]:
reviews

   Rate     review summmary                                        full review
0     5    Perfect product!  Amazing phone with great cameras and better ba...
1     5       Great product  Amazing Powerful and Durable Gadget.\n\nI’m am...
2     5    Perfect product!  It’s a must buy who is looking for an upgrade ...
3     5  Highly recommended  iphone 11 is a very good phone to buy only if ...
4     5    Perfect product!  Value for money❤️❤️\nIts awesome mobile phone ...
5     5   Worth every penny  Best budget Iphone till date ❤️ go for it guys...
6     5   Worth every penny  It’s been almost a month since I have been usi...
7     5    Perfect product!  Iphone is just awesome.. battery backup is ver...
8     4        Nice product  Awesome Phone. Slightly high price but worth. ...
9     5           Wonderful  *Review after 10 months of usage*\nDoesn't see...
10    5    Perfect product!  Amazing phone with great cameras and better ba...
11    5       Great product  Amazing Powerful and Durable Gadget.\n\nI’m am...
12    5    Perfect product!  It’s a must buy who is looking for an upgrade ...
13    5  Highly recommended  iphone 11 is a very good phone to buy only if ...
14    5    Perfect product!  Value for money❤️❤️\nIts awesome mobile phone ...
15    5   Worth every penny  Best budget Iphone till date ❤️ go for it guys...
16    5   Worth every penny  It’s been almost a month since I have been usi...
17    5    Perfect product!  Iphone is just awesome.. battery backup is ver...
18    4        Nice product  Awesome Phone. Slightly high price but worth. ...
19    5           Wonderful  *Review after 10 months of usage*\nDoesn't see...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %


As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code
only and not manually.

In [602]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.flipkart.com"
driver.get(url)

In [603]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [604]:
driver.find_element_by_xpath('//input[@name="q"]').send_keys('sneakers')

In [605]:
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [606]:
Brand1=[]
ProductDescription1=[]
Price1=[]
Discount1=[]

In [607]:

for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']"):
    prodesc1=i.text
    ProductDescription1.append(prodesc1)
#for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
#    prodesc1=i.text
#    ProductDescription1.append(prodesc)
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    pric1=i.text
    Price1.append(pric1)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    disc1=i.text
    Discount1.append(disc)
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brandtitle1=i.text
    Brand1.append(brandtitle1)

In [608]:
print(len(Brand1),len(ProductDescription1),len(Price1),len(Discount1))

40 40 40 40

In [609]:
#driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()       #//a[@class=''],class="ge-49M"

In [610]:
import pandas as pd
sneakers=pd.DataFrame({})
sneakers['brand name']=Brand1
#sneakers['product description']=ProductDescription1
sneakers['pricep']=Price1
sneakers['discountp']=Discount1

In [611]:
sneakers

             brand name  pricep discountp
0                    TR    ₹449   52% off
1                 Birde    ₹525   52% off
2                Chevit    ₹579   52% off
3                Chevit    ₹273   52% off
4          Robbie jones    ₹399   52% off
5              Red Rose    ₹399   52% off
6            Restinfoot    ₹349   52% off
7                  Xtep  ₹1,400   52% off
8          Stefano Rads    ₹279   52% off
9   World Wear Footwear    ₹589   52% off
10               Chevit    ₹240   52% off
11             Vistaara    ₹520   52% off
12           D-SNEAKERZ    ₹370   52% off
13               Chevit    ₹236   52% off
14  World Wear Footwear    ₹240   52% off
15             Vistaara    ₹499   52% off
16           Deny Brown    ₹341   52% off
17             Hotstyle    ₹215   52% off
18                Axter    ₹299   52% off
19                 Xtep  ₹4,674   52% off
20               Chevit    ₹570   52% off
21               Oricum    ₹203   52% off
22           Shoes Bank    ₹349   52% off
23                Birde    ₹630   52% off
24             Red Rose    ₹399   52% off
25            Rockfield    ₹399   52% off
26      M7 By Metronaut    ₹610   52% off
27                 Xtep  ₹3,824   52% off
28               T-ROCK    ₹379   52% off
29               Oricum    ₹419   52% off
30               Earton    ₹499   52% off
31                 Xtep  ₹4,249   52% off
32              Believe    ₹474   52% off
33                Asian    ₹499   52% off
34               Chevit    ₹249   52% off
35                 Xtep  ₹1,530   52% off
36         LeatherKraft    ₹339   52% off
37         LeatherKraft    ₹299   52% off
38                Birde    ₹569   52% off
39                 Xtep  ₹1,100   52% off

Q9: Go to the link - https://www.myntra.com/shoes


Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image


And then scrape First 100 shoes data you get. 

The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.


Please note that applying the filter and scraping the data , everything should be
done through code only and there should not be any manual step.

In [612]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.myntra.com/shoes"
driver.get(url)

In [ ]:
driver.find_element_by_xpath('//input[@value="6649.0 TO 13099.0"]').click()

In [ ]:
driver.find_element_by_xpath('//input[@value="Black"]').click()

In [ ]:
driver.find_element_by_xpath('//input[@value="6649.0 TO 13099.0"]').click()

Q10: Go to webpage https://www.amazon.in/
        
Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [747]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.amazon.in/"
driver.get(url)

In [748]:
driver.find_element_by_xpath('//input[@name="field-keywords"]').send_keys('Laptop')

In [749]:
driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]').click()

In [750]:
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span').click() #

In [761]:
driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span").click() #

In [762]:
titles=[]
Ratingss=[]
Prices=[]

In [763]:
for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")[0:10]:
    brandtitle2=i.text
    titles.append(brandtitle2)

In [764]:
print(len(titles))

10

In [765]:
for i in driver.find_elements_by_xpath("//span[@data-hook='acr-average-stars-rating-text']")[0:10]:
    rat2=i.text
    Ratingss.append(rat2)

In [766]:
Ratingss

[]

In [767]:
for i in driver.find_elements_by_xpath("//span[@class='a-price-whole']")[0:10]:
    pric2=i.text
    Prices.append(pric2)

In [768]:
Prices

['36,999',
 '28,490',
 '96,590',
 '73,990',
 '30,990',
 '30,990',
 '32,990',
 '34,990',
 '2,00,000',
 '33,990']

In [769]:
Dummy=[]

In [770]:
for i in driver.find_elements_by_xpath("//span[@class='a-icon-alt']")[0:10]:
    pri=i.text
    Dummy.append(pri)

In [771]:
Dummy

['', '', '', '', '', '', '', '', '', '']

In [772]:
import pandas as pd
Lappy=pd.DataFrame({})
Lappy['Title']=titles
#Lappy['Ratings']=Ratingss
Lappy['Price']=Prices

In [773]:
Lappy

                                               Title     Price
0  (Renewed) Lenovo ThinkPad High Performance 12....    36,999
1  (Renewed) HP EliteBook FOLIO 9480M Laptop (Cor...    28,490
2  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    96,590
3  ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Cor...    73,990
4  (Renewed) Dell E7450 Latitude (5th Gen Intel C...    30,990
5  (Renewed) Dell E7450 Latitude (5th Gen Intel C...    30,990
6  (Renewed) Dell E7450 Latitude (5th Gen Intel C...    32,990
7  (Renewed) Dell E7450 Latitude (5th Gen Intel C...    34,990
8  Dell 12.3" Latitude 7200 Multi-Touch 2-in-1 La...  2,00,000
9  (Renewed) Dell E7450 Latitude (5th Gen Intel C...    33,990