In [26]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [27]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [2]:
#Lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [14]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")

In [15]:
url="https://www.naukri.com/"

In [16]:
driver.get(url)

In [17]:
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("data analyst")

In [18]:
driver.find_element_by_xpath('//input[@name="location"]').send_keys("Bangalore")

In [19]:
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [20]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [21]:
#Lets extrct all the tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="04cd6f8d-1963-4c7d-a4dd-eb5787a2f2eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="502a9cce-784e-4fd8-b311-38d4432471cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="25021db4-5710-4aaf-a154-8e0f27b1b97a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="99c75d42-9e5d-4332-84b8-7fbe9b9a2697")>]

In [22]:
#Now the text of the job title is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in titles_tags[0:10]:
    
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee',
 'Hiring Data Analysts']

In [23]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="def77fc7-3843-4848-86ff-dd6eafa1f7b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="1a1263dc-b842-4aec-b663-0f7f40f2a390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="df954002-a8aa-483b-9b03-3d33c95c3327")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="a85d8d56-5fb2-490e-8ced-9fd231108796")>]

In [24]:
for i in companies_tags[0:10]:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'MagicBase Royal BD Pvt Ltd',
 'Flipkart Internet Private Limited']

In [25]:
#so lets extractv the a;; the tags having the experiences required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="8b44793b-3fa3-4f2e-bb19-40f7a11342cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="e8cf897f-563c-47db-80c0-27766c6e7592")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="17cfd42e-6514-4366-b172-892362b2598f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56e111fe32907b9b9e0c50bfa71bbc8d", element="09519b10-2f05-48ed-a437-b527d5d412fd")>]

In [26]:
for i in experience_tags[0:10]:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['0-2 Yrs', '0-3 Yrs', '0-5 Yrs', '2-5 Yrs']

In [27]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru(Whitefield)',
 'Bengaluru']

In [28]:
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

10 10 10 10

In [29]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience']=experience_list
jobs['location']=location_list

In [30]:
jobs

,title,company,experience,location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"Delhi NCR, Bengaluru, Hyderabad"
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
2,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,0-5 Yrs,Bengaluru(Whitefield)
3,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-5 Yrs,"Bengaluru, India"
5,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bengaluru
6,Data Analyst,Cognizant Technology Solutions India Ltd,3-4 Yrs,Bengaluru
7,Data Analyst,Cognizant Technology Solutions India Ltd,2-3 Yrs,Bengaluru
8,Business Data Analyst,GENPACT India Private Limited,3-6 Yrs,Bengaluru
9,Data Analyst ( Predictive Modelling),AVE-Promagne,2-5 Yrs,Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done
manually.

In [72]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")

In [73]:
url="https://www.naukri.com/"

In [74]:
driver.get(url)

In [75]:
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Scientist")

In [76]:
driver.find_element_by_xpath('//input[@name="location"]').send_keys("Bangalore")

In [77]:
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [98]:
job_titles=[]
company_names=[]
location_list=[]
jobdescription_list=[]
Fulljobdescription_list=[]

In [99]:
#Lets extrct all the tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags[0:10]:
    
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Data Scientist - Machine Learning',
 'Senior Data Scientist - NLP/ Python/ R']

In [100]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tags[0:10]:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'AVI Consulting LLP']

In [101]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru, Hyderabad']

In [102]:
jobdescription_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
for i in jobdescription_tags[0:10]:
    jobdesc=i.text
    jobdescription_list.append(jobdesc)
jobdescription_list[0:4]

['Building and iterating reports (with eventual design collaboration) based around a larg...',
 'In case you are trying to shift your career to Analytics and / or AI domain please do c...',
 'Experience working with some of the following frameworks and libraries: Pandas, Numpy, ...',
 'Experience with application development practices at scale, from problem definition to ...']

In [103]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Location']=location_list
jobs['Job description']=jobdescription_list

In [104]:
jobs

,Title,Company,Location,Job description
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",Building and iterating reports (with eventual ...
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",In case you are trying to shift your career to...
2,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Experience working with some of the following ...
3,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",Experience with application development practi...
4,Artificial Intelligence Analyst/Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Bengaluru",Should have at-least 1 end-to-end ML project e...
5,Data Scientist,Mailkit Private Limited,"Chennai, Pune, Mumbai, Bengaluru, Hyderabad, K...",Candidates might get the opportunity to work f...
6,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,"Bengaluru, India","medical voice of customer feedback, customer l..."
7,Advanced Architect - Data Scientist,Mphasis Limited,Bengaluru,Experience working with enterprise architectur...
8,AI Resident Data Scientist Stats. Consl.,Shell India Markets Private Limited,Bengaluru,Roles and ResponsibilitiesThe RoleThe world fa...
9,AI Resident - Data Scientist,Shell India Markets Private Limited,Bengaluru,"Preferably expertise Deep Learning, Bayesian L..."

In [105]:
allurls=[]

In [106]:
#prod=driver.find_elements_by_xpath("//*[@id="root"]/main/div[2]/div[2]/section[2]/div[1]]")

In [107]:
allurls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]

In [108]:
allurls

['https://www.naukri.com/job-listings-fresher-data-engineer-data-scientist-data-analyst-requirements-achyutas-soft-private-limited-delhi-ncr-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-061220001192?src=jobsearchDesk&sid=16079463106221939_1&xp=1&px=1',
 'https://www.naukri.com/job-listings-immediate-opening-for-data-scientist-data-analyst-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16079463106221939_1&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-blue-yonder-india-private-limited-bengaluru-bangalore-2-to-7-years-081220906415?src=jobsearchDesk&sid=16079463106221939_1&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nlp-python-r-avi-consulting-llp-bengaluru-bangalore-hyderabad-secunderabad-4-to-9-years-081220907155?src=jobsearchDesk&sid=16079463106221939_1&xp=4&px=1',
 'https://www.naukri.com/job-listings-artificial-intelligence-analyst-data-scientist-talentco-search-pvt-ltd-mumbai-bengaluru-bangalore-1-to-5-years-091220900289?src=jobsearchDesk&sid=16079463106221939_1&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-mailkit-private-limited-chennai-pune-mumbai-bengaluru-bangalore-hyderabad-secunderabad-kolkata-4-to-9-years-081220006569?src=jobsearchDesk&sid=16079463106221939_1&xp=6&px=1',
 'https://www.naukri.com/job-listings-global-medical-data-scientist-glaxosmithkline-pharmaceuticals-limited-bengaluru-bangalore-india-5-to-7-years-101220906032?src=jobsearchDesk&sid=16079463106221939_1&xp=7&px=1',
 'https://www.naukri.com/job-listings-advanced-architect-data-scientist-mphasis-limited-bengaluru-bangalore-12-to-18-years-051220900856?src=jobsearchDesk&sid=16079463106221939_1&xp=8&px=1',
 'https://www.naukri.com/job-listings-ai-resident-data-scientist-stats-consl-shell-india-markets-private-limited-bengaluru-bangalore-3-to-5-years-101220903826?src=jobsearchDesk&sid=16079463106221939_1&xp=9&px=1',
 'https://www.naukri.com/job-listings-ai-resident-data-scientist-shell-india-markets-private-limited-bengaluru-bangalore-3-to-5-years-101220901461?src=jobsearchDesk&sid=16079463106221939_1&xp=10&px=1',
 'https://www.naukri.com/job-listings-ai-resident-data-scientist-nlp-shell-india-markets-private-limited-bengaluru-bangalore-3-to-5-years-011220904842?src=jobsearchDesk&sid=16079463106221939_1&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-on-contract-sandvik-asia-pvt-ltd-bengaluru-bangalore-4-to-8-years-041220002022?src=jobsearchDesk&sid=16079463106221939_1&xp=12&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-signify-bengaluru-bangalore-10-to-15-years-021220501156?src=jobsearchDesk&sid=16079463106221939_1&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-on-contract-sandvik-asia-pvt-ltd-bengaluru-bangalore-4-to-8-years-041220602024?src=jobsearchDesk&sid=16079463106221939_1&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-virtusa-consulting-services-pvt-ltd-chennai-bengaluru-bangalore-hyderabad-secunderabad-9-to-14-years-071220006694?src=jobsearchDesk&sid=16079463106221939_1&xp=15&px=1',
 'https://www.naukri.com/job-listings-looking-for-data-scientist-bangalore-element-infomatics-india-pvt-ltd-mumbai-bengaluru-bangalore-hyderabad-secunderabad-4-to-7-years-031220001312?src=jobsearchDesk&sid=16079463106221939_1&xp=16&px=1',
 'https://www.naukri.com/job-listings-business-analyst-data-scientist-execboardinasia-bengaluru-bangalore-5-to-10-years-111220500158?src=jobsearchDesk&sid=16079463106221939_1&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bengaluru-bangalore-4-to-7-years-091220905121?src=jobsearchDesk&sid=16079463106221939_1&xp=18&px=1',
 'https://www.naukri.com/job-listings-business-analyst-data-scientist-mitel-networks-corporation-bengaluru-bangalore-4-to-8-years-071220500609?src=jobsearchDesk&sid=16079463106221939_1&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-zymr-systems-pvt-ltd-pune-ahmedabad-bengaluru-bangalore-8-to-10-years-141220001126?src=jobsearchDesk&sid=16079463106221939_1&xp=20&px=1']

In [109]:
for url in allurls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        Fulljobdescription_list.append(description[0])
    except NoSuchElementException :
        Fulljobdescription_list.append("---")

In [111]:
jobs['Full job description']=Fulljobdescription_list

In [112]:
jobs

,Title,Company,Location,Job description,Full job description
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",Building and iterating reports (with eventual ...,Roles and Responsibilities\nAnalytical Skills:...
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",In case you are trying to shift your career to...,Dear Candidate\n\nSchedule a Telephonic Interv...
2,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Experience working with some of the following ...,---
3,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",Experience with application development practi...,"Roles and Responsibilities\nSkill : NLP,Semant..."
4,Artificial Intelligence Analyst/Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Bengaluru",Should have at-least 1 end-to-end ML project e...,Roles and Responsibilities\n- Machine Learning...
5,Data Scientist,Mailkit Private Limited,"Chennai, Pune, Mumbai, Bengaluru, Hyderabad, K...",Candidates might get the opportunity to work f...,Mailkit is an European Marketing Automation co...
6,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,"Bengaluru, India","medical voice of customer feedback, customer l...",---
7,Advanced Architect - Data Scientist,Mphasis Limited,Bengaluru,Experience working with enterprise architectur...,---
8,AI Resident Data Scientist Stats. Consl.,Shell India Markets Private Limited,Bengaluru,Roles and ResponsibilitiesThe RoleThe world fa...,Roles and Responsibilities\nThe Role\nThe worl...
9,AI Resident - Data Scientist,Shell India Markets Private Limited,Bengaluru,"Preferably expertise Deep Learning, Bayesian L...",---

In [49]:
driver.find_elements_by_xpath("//div[@class='dang-inner-html']")

[]

In [81]:
for x in driver.find_elements_by_link_text("////article[@class='jobTuple bgWhite br4 mb-8']"):
    link = webdriver.ActionChains(self.driver).move_to_element(x).click(x).perform()

In [82]:
driver.find_elements_by_class_name("//div[@class='info fleft']").click()

AttributeError: 'list' object has no attribute 'click'

In [96]:
for link in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    all_links = link.get_attribute('href')

for link in driver.find_elements_by_xpath("//div[@class='info fleft']"):
    all_links = link.get_attribute('href')

In [97]:
all_links

'https://www.naukri.com/job-listings-data-scientist-on-contract-sandvik-asia-pvt-ltd-bengaluru-bangalore-4-to-8-years-041220002022?src=jobsearchDesk&sid=16076167711951372&xp=20&px=1'

In [83]:
alljoburls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [87]:
for g in alljoburls[0:10]:
    all_linkss = link.get_attribute('href')

In [88]:
all_linkss

'https://www.naukri.com/job-listings-data-scientist-on-contract-sandvik-asia-pvt-ltd-bengaluru-bangalore-4-to-8-years-041220002022?src=jobsearchDesk&sid=16076167711951372&xp=20&px=1'

In [264]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.naukri.com/job-listings-immediate-opening-for-data-scientist-data-analyst-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16071067421982833_12&xp=1&px=1"
driver.get(url)

Q3.You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [125]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Scientist")
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [126]:
#driver.find_element_by_xpath('//i[@class="fleft naukicon naukicon-checkbox"]').click()

In [127]:
driver.find_element_by_xpath("//span[@title='Delhi/NCR']").click()

In [128]:
driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

In [129]:
job_titles=[]
company_names=[]
location_list=[]
jobdescription_list=[]

In [130]:
#Lets extrct all the tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags[0:10]:
    
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist - Python/Machine Learning',
 'Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC']

In [131]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tags[0:10]:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'Jubna',
 'PureSoftware Pvt Ltd.',
 'GABA Consultancy services']

In [132]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Delhi NCR, Bengaluru, Hyderabad',
 'Noida',
 'Gurgaon',
 'Delhi NCR, Greater Noida, Noida']

In [133]:
jobdescription_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
for i in jobdescription_tags[0:10]:
    jobdesc=i.text
    jobdescription_list.append(jobdesc)
jobdescription_list[0:4]

['Building and iterating reports (with eventual design collaboration) based around a larg...',
 'Proficient in Python ML libraries, Hadoop/ Redshift/ BigQueryMasters preferred Can envi...',
 'Roles and Responsibilities 5+ years of progressive professional experience in Advanced ...',
 'Only Fresher Can Apply:.Description Good in analytics']

In [134]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['job description']=jobdescription_list

In [135]:
jobs

,title,company,location,job description
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",Building and iterating reports (with eventual ...
1,Data Scientist - Python/Machine Learning,Jubna,Noida,"Proficient in Python ML libraries, Hadoop/ Red..."
2,Data Scientist,PureSoftware Pvt Ltd.,Gurgaon,Roles and Responsibilities 5+ years of progres...
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Greater Noida, Noida",Only Fresher Can Apply:.Description Good in an...
4,Data Scientist,World Wide Technology,Gurgaon,Bachelors degree in a quantitative discipline ...
5,Data Scientist,Air Asia India Limited,"Delhi NCR, Gurgaon",2 years of extensive experience in data scienc...
6,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",Must Have Skills :ML / DL/BigData / DS and Pyt...
7,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",Position Experience Location Must Have Skills ...
8,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",Must Have Skills :ML / DL/BigData / DS and Pyt...
9,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",Position Experience Location Must Have Skills ...

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [136]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [137]:
driver.find_element_by_xpath("//a[@class='track-click gd-btn-locked-transparent susiLink sign-in strong nowrap']").click()

In [150]:
#driver.find_element_by_xpath("//button[@class='google gd-btn short']").click()

In [151]:
#driver.find_element_by_name('//input[@name="identifier"]').send_keys('7978754587bhabani@gmail.com')

In [152]:
#driver.find_element_by_name('//div[@]').send_keys('7978754587bhabani@gmail.com')

--->>i had to sign in manually

In [156]:
driver.find_element_by_xpath('//input[@id="sc.keyword"]').send_keys('Data Scientist')

In [157]:
driver.find_element_by_xpath('//input[@id="sc.location"]').send_keys('Noida')

In [158]:
driver.find_element_by_xpath('//button[@data-test="search-bar-submit"]').click()

In [180]:
job_titles1=[]
company_names2=[]
Ratings1=[]
Jobposted_in_days=[]

In [181]:
#Lets extrct all the tags having job titles
titles_tags1=driver.find_elements_by_xpath("//a[class=' css-10l5u4p e1n63ojh0 jobLink']")
for i in titles_tags1[0:10]:
    
    title1=i.text
    job_titles1.append(title)
job_titles1[0:4]

[]

In [182]:
titles_tags1=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']")
titles_tags1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a7cafa17d306b68c79c8875ac81bc1f1", element="49ec9eaa-403a-475f-b401-72149516ae84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7cafa17d306b68c79c8875ac81bc1f1", element="f31a46bd-43cd-45be-b7c9-17f762fbf12e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7cafa17d306b68c79c8875ac81bc1f1", element="dd5fd5d5-cb18-4193-94d0-60a3fc2f6f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7cafa17d306b68c79c8875ac81bc1f1", element="870cfdef-592f-4f3a-9fcb-a8da4bd85a5f")>]

In [183]:
for i in titles_tags1[0:10]:
    
    title1=i.text
    job_titles1.append(title)
job_titles1[0:4]

['Excellent opportunity For Lead Data Scientist at Noida location',
 'Excellent opportunity For Lead Data Scientist at Noida location',
 'Excellent opportunity For Lead Data Scientist at Noida location',
 'Excellent opportunity For Lead Data Scientist at Noida location']

In [184]:
companies_tags1=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']/span")
for i in companies_tags1[0:10]:
    company_names2.append(i.text)
company_names2[0:4]

['Genpact', 'IHS Markit', 'Techlive', 'Algoscale']

In [185]:
rating1=driver.find_elements_by_xpath("//span[@class='compactStars ']")
for i in rating1[0:10]:
    Ratings1.append(i.text)
Ratings1[0:4]

['3.8', '4.1', '5', '3.7']

In [186]:
jobposted=driver.find_elements_by_xpath("//div[@data-test='job-age']")
for i in jobposted[0:10]:
    Jobposted_in_days.append(i.text)
Jobposted_in_days[0:4]

['3d', '5d', '3d', '25d']

In [187]:
locations_tags=driver.find_elements_by_xpath("//span[@class='loc css-nq3w9f pr-xxsm']/span[1]")
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Delhi NCR, Bengaluru, Hyderabad',
 'Noida',
 'Gurgaon',
 'Delhi NCR, Greater Noida, Noida']

In [190]:
glassjob=pd.DataFrame({"Company Name":company_names2,"Company Ratings":Ratings1,"Job posted days ago":Jobposted_in_days})
glassjob

           Company Name Company Ratings Job posted days ago
0               Genpact             3.8                  3d
1            IHS Markit             4.1                  5d
2              Techlive               5                  3d
3             Algoscale             3.7                 25d
4  Gauge Data Solutions             3.1                 25d
5                Amazon             4.3                 12d
6           GroundTruth             3.3                 18d
7        Biz2Credit Inc             3.7                  5d
8       SearchUrCollege               4                 25d
9       Priority Vendor             4.1                 25d

Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually

In [204]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

sign in manually

In [205]:
driver.find_element_by_xpath("//input[@id='KeywordSearch']").send_keys('Data Scientist')

In [206]:
driver.find_element_by_xpath( "//input[@id='LocationSearch']").send_keys('Noida')

In [207]:
driver.find_element_by_xpath("//button[@data-test='search-bar-submit']").click()

In [208]:
minsalary_list=[]
maxsalary_list=[]
averagesalary_list=[]
company_names3=[]

In [209]:
minsalary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
for i in minsalary[0:10]:
    minsalary_list.append(i.text)
minsalary_list

['₹705K',
 '₹571K',
 '₹580K',
 '₹468K',
 '₹708K',
 '₹14K',
 '₹488K',
 '₹784K',
 '₹496K',
 '₹8K']

In [210]:
companies_tags1=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
for i in companies_tags1[0:10]:
    company_names3.append(i.text)
company_names3[0:4]

['Delhivery', 'Accenture', 'IBM', 'Ericsson-Worldwide']

In [212]:
averagesalary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in averagesalary[0:10]:
      averagesalary_list.append(i.text)
averagesalary_list[0:4]

['₹11,495K', '₹2,200K', '₹2,700K', '₹1,595K']

In [213]:
maxsalary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in maxsalary[0:10]:
    maxsalary_list.append(i.text)
maxsalary_list

['₹11,495K',
 '₹2,200K',
 '₹2,700K',
 '₹1,595K',
 '₹1,557K',
 '₹22K',
 '₹1,000K',
 '₹1,250K',
 '₹1,138K',
 '₹20K']

In [214]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"maxsalary":maxsalary_list[0:10],"averagesalary":averagesalary_list[0:10],"company_names":company_names3[0:10]
                })
df.head()

  maxsalary averagesalary       company_names
0  ₹11,495K      ₹11,495K           Delhivery
1   ₹2,200K       ₹2,200K           Accenture
2   ₹2,700K       ₹2,700K                 IBM
3   ₹1,595K       ₹1,595K  Ericsson-Worldwide
4   ₹1,557K       ₹1,557K  UnitedHealth Group

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [3]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.flipkart.com/"
driver.get(url)

In [201]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [202]:
driver.find_element_by_xpath('//input[@name="q"]').send_keys('sunglasses')

In [203]:
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [204]:
urls=[]
prod_urls = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]') 
for prod in prod_urls:
    urls.append('https://www.flipkart.com'+prod.get_attribute('href'))
urls

In [209]:
#cant find all the urls
#there was another method using clicks but that i.e creates a new tab i dont.

In [224]:
Brand=[]
ProductDescription=[]
Price=[]
Discount=[]

In [192]:
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brandtitle=i.text
    Brand.append(brandtitle)
Brand[0:4]

['Silver Kartz', 'Zyaden', 'FDA COLLECTION', 'FDA COLLECTION']

In [193]:
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']"):
    prodesc=i.text
    ProductDescription.append(prodesc)
print(len(ProductDescription))

120

In [194]:
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    pric=i.text
    Price.append(pric)
Price[0:4]

['₹211', '₹603', '₹199', '₹188']

In [195]:
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    disc=i.text
    Discount.append(disc)
Discount[0:4]

['85% off', '69% off', '84% off', '87% off']

In [196]:
print(len(Brand),len(ProductDescription),len(Price),len(Discount))

120 120 160 120

driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()       #//a[@class=''],class="ge-49M"

In [211]:
nxt_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')

In [212]:
if nxt_button.text == 'Next': 
    nxt_button.click()

In [185]:
nxt_button.click()

for g in range(0,2):
    
    for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brandtitle=i.text
        Brand.append(brandtitle)
    for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']"):
        prodesc=i.text
        ProductDescription.append(prodesc)
    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        pric=i.text
        Price.append(pric)
    for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        disc=i.text
        Discount.append(disc)
    nxt_button.click()

In [220]:
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
            brandtitle=i.text
            Brand.append(brandtitle)
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']"):
            prodesc=i.text
            ProductDescription.append(prodesc)
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
            pric=i.text
            Price.append(pric)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
            disc=i.text
            Discount.append(disc)

In [221]:
print(len(Brand),len(ProductDescription),len(Price),len(Discount))

120 120 120 120

In [219]:
nxt_button.click()

In [222]:
import pandas as pd
glass=pd.DataFrame({})
glass['brand name']=Brand
glass['product description']=ProductDescription
glass['pricep']=Price
glass['discountp']=Discount

In [223]:
glass

,brand name,product description,pricep,discountp
0,BULGARIA,Others Rectangular Sunglasses (Free Size),₹449,55% off
1,Silver Kartz,UV Protection Retro Square Sunglasses (56),₹211,85% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,84% off
3,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹188,87% off
4,FDA COLLECTION,"Gradient, Mirrored, UV Protection, Polarized R...",₹161,83% off
...,...,...,...,...
115,shadz,"UV Protection, Polarized Retro Square Sunglass...",₹189,85% off
116,FELLKON,UV Protection Round Sunglasses (51),₹179,77% off
117,Dervin,Gradient Shield Sunglasses (52),₹271,81% off
118,Rich Club,UV Protection Round Sunglasses (50),₹379,62% off
119,NuVew,"UV Protection, Mirrored, Night Vision Aviator ...",₹371,70% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [252]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
driver.get(url)

In [253]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [254]:
Rating=[]
Review_summary=[]
Fullreview=[]

driver.find_elements_by_xpath("//div[@class='_3UAT2v _16PBlm']")

In [234]:
for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        rev=i.text
        Review_summary.append(rev)

In [235]:
Review_summary

['Perfect product!',
 'Great product',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Worth every penny',
 'Worth every penny',
 'Perfect product!',
 'Nice product',
 'Wonderful']

In [236]:
for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rat=i.text
        Rating.append(rat)
Rating

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [237]:
for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        fullrev=i.text
        Fullreview.append(fullrev)
Fullreview

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE']

In [261]:
for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
    rev=i.text
    Review_summary.append(rev)
for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']"):
    rat=i.text
    Rating.append(rat)
for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
    fullrev=i.text
    Fullreview.append(fullrev)

driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()      
 #drawback=this work only till page 2 then again comes to page 1
 #So here i couldn't find the Next button so i couldn't forn a loop

In [262]:
print(len(Rating),len(Review_summary),len(Fullreview))

20 20 20

In [318]:
nxt_button = driver.find_element_by_xpath('//a[@class="_1LKTO3" or  @Span="Next"]')

In [319]:
if nxt_button.text == 'Next': 
    nxt_button.click()

In [320]:
nxt_button.click()

In [317]:
import pandas as pd
reviews=pd.DataFrame({})
reviews['Rate']=Rating
reviews['review summmary']=Review_summary
reviews['full review']=Fullreview

In [299]:
reviews

   Rate     review summmary                                        full review
0     5    Perfect product!  Amazing phone with great cameras and better ba...
1     5       Great product  Amazing Powerful and Durable Gadget.\n\nI’m am...
2     5    Perfect product!  It’s a must buy who is looking for an upgrade ...
3     5  Highly recommended  iphone 11 is a very good phone to buy only if ...
4     5    Perfect product!  Value for money❤️❤️\nIts awesome mobile phone ...
5     5   Worth every penny  Best budget Iphone till date ❤️ go for it guys...
6     5   Worth every penny  It’s been almost a month since I have been usi...
7     5    Perfect product!  Iphone is just awesome.. battery backup is ver...
8     4        Nice product  Awesome Phone. Slightly high price but worth. ...
9     5           Wonderful  *Review after 10 months of usage*\nDoesn't see...
10    5    Perfect product!  Amazing phone with great cameras and better ba...
11    5       Great product  Amazing Powerful and Durable Gadget.\n\nI’m am...
12    5    Perfect product!  It’s a must buy who is looking for an upgrade ...
13    5  Highly recommended  iphone 11 is a very good phone to buy only if ...
14    5    Perfect product!  Value for money❤️❤️\nIts awesome mobile phone ...
15    5   Worth every penny  Best budget Iphone till date ❤️ go for it guys...
16    5   Worth every penny  It’s been almost a month since I have been usi...
17    5    Perfect product!  Iphone is just awesome.. battery backup is ver...
18    4        Nice product  Awesome Phone. Slightly high price but worth. ...
19    5           Wonderful  *Review after 10 months of usage*\nDoesn't see...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %


As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code
only and not manually.

In [602]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.flipkart.com"
driver.get(url)

In [603]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [604]:
driver.find_element_by_xpath('//input[@name="q"]').send_keys('sneakers')

In [605]:
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [606]:
Brand1=[]
ProductDescription1=[]
Price1=[]
Discount1=[]

In [607]:

for i in driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC' or @class='IRpwTa']"):
    prodesc1=i.text
    ProductDescription1.append(prodesc1)
#for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
#    prodesc1=i.text
#    ProductDescription1.append(prodesc)
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    pric1=i.text
    Price1.append(pric1)
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    disc1=i.text
    Discount1.append(disc)
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brandtitle1=i.text
    Brand1.append(brandtitle1)

In [608]:
print(len(Brand1),len(ProductDescription1),len(Price1),len(Discount1))

40 40 40 40

In [609]:
#driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()       #//a[@class=''],class="ge-49M"

In [610]:
import pandas as pd
sneakers=pd.DataFrame({})
sneakers['brand name']=Brand1
#sneakers['product description']=ProductDescription1
sneakers['pricep']=Price1
sneakers['discountp']=Discount1

In [611]:
sneakers

             brand name  pricep discountp
0                    TR    ₹449   52% off
1                 Birde    ₹525   52% off
2                Chevit    ₹579   52% off
3                Chevit    ₹273   52% off
4          Robbie jones    ₹399   52% off
5              Red Rose    ₹399   52% off
6            Restinfoot    ₹349   52% off
7                  Xtep  ₹1,400   52% off
8          Stefano Rads    ₹279   52% off
9   World Wear Footwear    ₹589   52% off
10               Chevit    ₹240   52% off
11             Vistaara    ₹520   52% off
12           D-SNEAKERZ    ₹370   52% off
13               Chevit    ₹236   52% off
14  World Wear Footwear    ₹240   52% off
15             Vistaara    ₹499   52% off
16           Deny Brown    ₹341   52% off
17             Hotstyle    ₹215   52% off
18                Axter    ₹299   52% off
19                 Xtep  ₹4,674   52% off
20               Chevit    ₹570   52% off
21               Oricum    ₹203   52% off
22           Shoes Bank    ₹349   52% off
23                Birde    ₹630   52% off
24             Red Rose    ₹399   52% off
25            Rockfield    ₹399   52% off
26      M7 By Metronaut    ₹610   52% off
27                 Xtep  ₹3,824   52% off
28               T-ROCK    ₹379   52% off
29               Oricum    ₹419   52% off
30               Earton    ₹499   52% off
31                 Xtep  ₹4,249   52% off
32              Believe    ₹474   52% off
33                Asian    ₹499   52% off
34               Chevit    ₹249   52% off
35                 Xtep  ₹1,530   52% off
36         LeatherKraft    ₹339   52% off
37         LeatherKraft    ₹299   52% off
38                Birde    ₹569   52% off
39                 Xtep  ₹1,100   52% off

Q9: Go to the link - https://www.myntra.com/shoes


Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image


And then scrape First 100 shoes data you get. 

The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.


Please note that applying the filter and scraping the data , everything should be
done through code only and there should not be any manual step.

In [612]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.myntra.com/shoes"
driver.get(url)

In [ ]:
driver.find_element_by_xpath('//input[@value="6649.0 TO 13099.0"]').click()

In [ ]:
driver.find_element_by_xpath('//input[@value="Black"]').click()

In [ ]:
driver.find_element_by_xpath('//input[@value="6649.0 TO 13099.0"]').click()

Q10: Go to webpage https://www.amazon.in/
        
Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [43]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.amazon.in/"
driver.get(url)

In [44]:
driver.find_element_by_xpath('//input[@name="field-keywords"]').send_keys('Laptop')

In [45]:
driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]').click()

In [48]:
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span').click() #

In [50]:
driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span").click() #

In [51]:
titles=[]
Ratingss=[]
Prices=[]

In [52]:
for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")[0:10]:
    brandtitle2=i.text
    titles.append(brandtitle2)

In [53]:
print(len(titles))

10

In [54]:
for i in driver.find_elements_by_xpath("//span[@data-hook='acr-average-stars-rating-text']")[0:10]:
    driver.find_element_by_xpath("//a[@class='a-popover-trigger a-declarative']").click()

    rat2=i.text
    Ratingss.append(rat2)

In [55]:
Ratingss

[]

In [56]:
for i in driver.find_elements_by_xpath("//span[@class='a-price-whole']")[0:10]:
    pric2=i.text
    Prices.append(pric2)

In [57]:
Prices

['85,990',
 '95,990',
 '74,990',
 '24,490',
 '71,390',
 '34,999',
 '73,990',
 '79,490',
 '82,990',
 '29,990']

In [58]:
all_linkss=[]

In [59]:
alljoburls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [60]:
for g in alljoburls[0:10]:
    all_linkss.append(g.get_attribute('href'))

In [61]:
all_linkss

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A063803933CZ8I4OPL2XD&url=%2FDell-Inspiron-i7-1065G7-Graphics-D560213WIN9S%2Fdp%2FB08GY7C5SF%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1607945250%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1607945269&id=6595404196029042&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A0410752MFC9XAIIIQ8V&url=%2FASUS-ZenBook-i7-1165G7-Graphics-UX425EA-BM701TS%2Fdp%2FB08M4SWRR5%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1607945250%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1607945269&id=6595404196029042&widgetName=sp_atf',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-i7-10510U-14-dh1180tu/dp/B08GD8LQTY/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1607945250&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Renewed-HP-EliteBook-Laptop-WEBCAM/dp/B08DYF24K2/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1607945250&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/HP-Laptop-i7-1065G7-Natural-14s-DR1010TU/dp/B08H2V92WV/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1607945250&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Lenovo-ThinkPad-Performance-Cardreader-Integrated/dp/B08NPWHC9M/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1607945250&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/ASUS-GeForce-Graphics-Fortress-FX566LH-BQ036T/dp/B08CY9C7TW/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1607945250&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/Lenovo-ThinkPad-Gen14-inch-Microsoft-20RAS0AM00/dp/B08PD1HM1Q/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1607945250&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/HP-Pavilion-dh0045TX-i7-8565U-Graphics/dp/B07NMSWFS4/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1607945250&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/Renewed-Dell-Inspiron-Laptop-i3-7th/dp/B08L56BF77/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1607945250&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10']

In [62]:
#allurls=['https://www.amazon.in/HP-Pavilion-dh0045TX-i7-8565U-Graphics/dp/B07NMSWFS4/ref=sr_1_1?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-1','https://www.amazon.in/ASUS-ZenBook-i7-1165G7-Graphics-UX425EA-BM701TS/dp/B08M4SWRR5/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2','https://www.amazon.in/Renewed-Dell-Latitude-Business-Laptop/dp/B08FC6BYSG/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3','https://www.amazon.in/ASUS-GeForce-Graphics-Fortress-FX566LH-BQ036T/dp/B08CY9C7TW/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4','https://www.amazon.in/Lenovo-ThinkPad-Gen14-inch-Microsoft-20RAS0AM00/dp/B08PD1HM1Q/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5','https://www.amazon.in/Renewed-Dell-Inspiron-Laptop-i3-7th/dp/B08L56BF77/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6','https://www.amazon.in/Lenovo-Legion-Gaming-Windows-82AW005SIN/dp/B08CQ21154/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7','https://www.amazon.in/Renewed-Lenovo-ThinkPad-Microsoft-20RAS14300/dp/B08PVQ75FG/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8','https://www.amazon.in/Lenovo-ThinkPad-Performance-Integrated-Graphics/dp/B08NPZNDCG/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9','https://www.amazon.in/ASUS-i9-10980HK-Touchscreen-Celestial-UX581LV-H2035T/dp/B08CHDLVT1/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10']

In [63]:
for url in all_linkss:#loop for every laptop in the list
    driver.get(url)
    try:                 
        driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']").click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratingss.append(rating.text)
        
    except NoSuchElementException   as e:
        Ratingss.append("No rating")

In [64]:
Ratingss

['3.6 out of 5',
 '5 out of 5',
 '3.5 out of 5',
 'No rating',
 '3.3 out of 5',
 '3.8 out of 5',
 '3.5 out of 5',
 'No rating',
 '4.1 out of 5',
 'No rating']

In [65]:
import pandas as pd
Lappy=pd.DataFrame({})
Lappy['Title']=titles
Lappy['Ratings']=Ratingss
Lappy['Price']=Prices

In [66]:
Lappy

                                               Title       Ratings   Price
0  Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...  3.6 out of 5  85,990
1  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    5 out of 5  95,990
2  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...  3.5 out of 5  74,990
3  (Renewed) HP EliteBook FOLIO 9480M Laptop (Cor...     No rating  24,490
4  HP 14 10th Gen Intel Core i7 Ultra Thin and Li...  3.3 out of 5  71,390
5  (Renewed) Lenovo ThinkPad High Performance 12....  3.8 out of 5  34,999
6  ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Cor...  3.5 out of 5  73,990
7  Lenovo ThinkPad E14 Intel Core i7 10th Gen14-i...     No rating  79,490
8  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...  4.1 out of 5  82,990
9  (Renewed) Dell Inspiron 3567 Laptop Core i3-7t...     No rating  29,990

# THE END

for url in all_linkss:
    driver.get(url)
    try:
        element = driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
        Ratingss.append(element.text)
    except:NoSuchElementException   as e:
                                                     # Printing Message
                                                     # Replacing previous element by a valid element which appears on webpage
        print('No Ratings')
    
    
  #  driver.find_element_by_xpath("//a[@class='a-popover-trigger a-declarative']").click()
  #  pri=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
  #  pri=pri.text
  #  Ratingss.append(pri)

In [ ]:
['https://www.amazon.in/HP-Pavilion-dh0045TX-i7-8565U-Graphics/dp/B07NMSWFS4/ref=sr_1_1?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-1','https://www.amazon.in/ASUS-ZenBook-i7-1165G7-Graphics-UX425EA-BM701TS/dp/B08M4SWRR5/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2','https://www.amazon.in/Renewed-Dell-Latitude-Business-Laptop/dp/B08FC6BYSG/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3','https://www.amazon.in/ASUS-GeForce-Graphics-Fortress-FX566LH-BQ036T/dp/B08CY9C7TW/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4','https://www.amazon.in/Lenovo-ThinkPad-Gen14-inch-Microsoft-20RAS0AM00/dp/B08PD1HM1Q/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5','https://www.amazon.in/Renewed-Dell-Inspiron-Laptop-i3-7th/dp/B08L56BF77/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6','https://www.amazon.in/Lenovo-Legion-Gaming-Windows-82AW005SIN/dp/B08CQ21154/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7','https://www.amazon.in/Renewed-Lenovo-ThinkPad-Microsoft-20RAS14300/dp/B08PVQ75FG/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8','https://www.amazon.in/Lenovo-ThinkPad-Performance-Integrated-Graphics/dp/B08NPZNDCG/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9','https://www.amazon.in/ASUS-i9-10980HK-Touchscreen-Celestial-UX581LV-H2035T/dp/B08CHDLVT1/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1607881777&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10']

In [117]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.amazon.in/HP-Pavilion-Touchscreen-i7-10510U-14-dh1180tu/dp/B08GD8LQTY/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1607873464&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-10"
driver.get(url)

In [119]:
driver.find_element_by_xpath("//a[@class='a-popover-trigger a-declarative']").click()
pri=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
pri=pri.text
Ratingss.append(pri)

In [120]:
Ratingss

['', '3.5 out of 5', '3.5 out of 5']